*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid brown;
  border-radius: 14px;
  background-color: chocolate;
}

input{
  padding: 10px;
  border-radius: 8px;
}

textarea{
  padding: 10px;
  border-radius: 8px;
}

input[type="submit"]{
  border-radius: 8px;
  background-color: brown;
  color: white;
  cursor: pointer;
}

input[type="submit"]:hover{
  background-color: darksalmon;
}

h1{
  font-size: 36px;
  text-align: center;
  font-weight: 600;
}

a{
  text-decoration: none;
  color: brown;
}

a:hover{
  color: chocolate;
}